@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При выполнении запроса на сервер произошла ошибка. Администраторы уже в курсе событий и работают над исправлением ошибок.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Переключите режим работы приложения на <strong>Development</strong> для детального отображения текста ошибки.
</p>
<p>
    <strong>Режим разработки не должен быть включен для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации от исключений для конечных пользователей.
    Для локальной отладки включите режим <strong>Development</strong> задав для переменной <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Development</strong>
    и перезапустите приложение.
</p>
