@model System.Collections.Generic.List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>

<select id="technology-dropdown" name="technologyguid" class="form-control mysearch" required>
    <option value="">Выберите серию</option>

    @foreach (var item in Model)
    {
        <option value="@item.Value">@item.Text</option>
    }
</select>