@model object

@{
    ViewBag.Title = "О разработчиках";
    Layout = "_Layout";
}

<div class="container">
    <h3 class="display-4" align="center">О разработчиках</h3>
    <hr class="my-4">
    <div class="card-deck">
        <div class="card">
            <div class="card-header" align="center">Разработчик</div>
            <div class="view overlay">
                <img class="card-img-top" src="../images/about/me.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">Туголуков Никита Павлович</p>
                <p class="card-text">студент 4 курса</p>
                <p class="card-text">группы ИВТ2-Б14</p>
                <p class="card-text"></p>
                <p class="card-text">Место работы: ЗАО Калуга Астрал</p>
            </div>
            <div class="card-footer">
                <a role="button" class="btn btn-blue btn-md btn-block" href="https://vk.com/tugolukov_n">
                    Подробнее
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" align="center">Преподаватель</div>
            <div class="view overlay">
                <img class="card-img-top" src="../images/about/vyaz.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">Вязилов Евгений Дмитриевич</p>
                <p class="card-text">д.т.н., зав.лаб. ЦОД ФГБУ «ВНИИГМИ-МЦД»</p>
                <p class="card-text">проф. кафедры КССТ ИАТЭ НИЯУ МИФИ</p>
                <p class="card-text"></p>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <a role="button" class="btn btn-blue btn-md btn-block" href="https://ru.wikipedia.org/wiki/%D0%92%D1%8F%D0%B7%D0%B8%D0%BB%D0%BE%D0%B2,_%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B5%D0%B2%D0%B8%D1%87">
                    Подробнее
                </a>
            </div>
        </div>
    </div>

</div>