@model object

@{
    ViewBag.Title = "Правила сайта";
    Layout = "_Layout";
}

<div class="container">
    <blockquote class="blockquote bq-info">
        <p class="bq-title">Правила сайта</p>
        <p>
            На сайте запрещены:
            <ul>
                <li>Мат</li>
                <li>Флуд</li>
                <li>Спам, реклама</li>
                <li>Выяснение отношений</li>
                <li>Неадекватное поведение</li>
            </ul>

            ВНИМАНИЕ! Данные правила могут меняться. Ведите себя адекватно и всё будет хорошо.

        </p>
    </blockquote>
</div>

